.team-member {
  text-align: center;
  width: 25%;
  @media all and (max-width: 768px) {
    width: 100%;
  }
  h3 {
    font-family: "Darker Grotesque", sans-serif;
    margin-bottom: 10px;
  }
  .team-member__icons {
    display: flex;
    justify-content: center;
    svg {
      color: #c7c7c7;
      width: 40px;
      width: 40px;
      margin: 0 20px;
    }
    a {
      img {
        width: 40px;
        width: 40px;
        margin: 0 20px;
        text-align: center;
      }
      transition: all 0.4s ease;
      &:hover {
        transform: translateY(-6px);
      }
    }
    p {
      margin: 10px;
    }
  }
}

.team-member__image-container {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0.5rem auto;
}
