.team-member {
  text-align: center;
  width: 25%;
  @media all and (max-width: 768px) {
    width: 100%;
  }
  h3 {
    font-family: "Darker Grotesque", sans-serif;
    margin-bottom: 10px;
  }
  [id="Color/Palette/Blue-01"] {
    fill: #36c7bb;
  }
  .team-member__icons {
    display: flex;
    justify-content: center;
    svg {
      color: #c7c7c7;
      width: 40px;
      width: 40px;
      margin: 0 20px;
    }
    a {
      img {
        width: 40px;
        width: 40px;
        margin: 0 20px;
        text-align: center;
      }
      transition: all 0.4s ease;
      &:hover {
        transform: translateY(-6px);
      }
    }
    p {
      margin: 10px;
    }
  }
}
