.featured-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  @media all and (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
  h3 {
    width: 80%;
    a,
    span {
      color: white;
      line-height: 50px;
      font-size: 60px;
      text-decoration: none;
      font-family: "Darker Grotesque", sans-serif;
      text-transform: capitalize;
      @media all and (max-width: 768px) {
        font-size: 40px;
        line-height: 44px;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.4);
      }
    }
    @media all and (max-width: 768px) {
      width: 100%;
      padding: 0 20px;
    }
  }
  img {
    width: 20%;
    display: inline-block;
    @media all and (max-width: 768px) {
      width: 40%;
      max-width: 100px;
    }
  }
}

.featured-tag {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.author-name {
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.author-info {
  display: flex;
  color: #36c7bb;
  font-size: 3.7rem;
  &:after {
    content: "]";
  }
  &:before {
    content: "[";
  }
  @media all and (max-width: 768px) {
    display: none;
  }
}

.author-img {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.post-date {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-size: 0.9rem;
  display: block;
  font-weight: 600;
}

.post-details-container {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1rem;
}
