.container {
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.blog-template {
  overflow: auto;
}

.blog-wrappper {
  margin: 0 auto;
  grid-template-columns: 1fr 6fr 1fr;
  display: grid;
  max-width: 1000px;
  padding-top: 2rem;
  position: sticky;
  top: 0px;
  @media all and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding: 0 1rem;
  }
}

.blog {
  p {
    font-size: 1.4rem;
    color: #111;
    line-height: 1.8rem;
  }
  h2,
  h3,
  h4 {
    margin-top: 3rem;
    &:before {
      content: "[-] ";
      color: #36c7bb;
    }
  }
}

.social-media-icons {
  height: 150px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  position: sticky;
  top: 0px;
  @media all and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    display: flex;
    height: unset;
  }
}

.social-media-icon {
  display: inline-block;
  svg {
    transition: 0.4s all ease;
    color: #c7c7c7;
    &:hover {
      color: #36c7bb;
    }
  }
}
