.container {
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.blog-template {
  overflow: auto;
}

.blog-wrappper {
  margin: 0 auto;
  grid-template-columns: 1fr 6fr 1fr;
  display: grid;
  max-width: 1000px;
  padding-top: 2rem;
  position: sticky;
  top: 0px;
}

.blog {
  p {
    font-size: 1.4rem;
    color: #111;
    line-height: 1.8rem;
  }
  h2,
  h3,
  h4 {
    margin-top: 3rem;
    &:before {
      content: "[-] ";
      color: #36c7bb;
    }
  }
}

.social-media-icons {
  height: 90px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  position: sticky;
  top: 0;
}

.social-media-icon {
  display: inline-block;
  img {
    width: 32px;
    display: inline-block;
    margin: 0;
  }
}
