.container {
  max-width: 1344px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.blog-template {
  overflow: auto;
}

.blog {
  p {
    font-size: 1.4rem;
    color: #111;
    line-height: 1.8rem;
  }
  h2,
  h3,
  h4 {
    margin-top: 3rem;
    &:before {
      content: "[-] ";
      color: #36c7bb;
    }
  }
}
