.container {
  max-width: 1344px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  min-height: 65vh;
  background: #ddecf2;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.3rem;
  h1 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
  }
}

.question-answer {
  position: relative;
  margin-top: 20px;
  background-color: #e8e8e8;
  padding: 1rem;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  .done-icon {
    position: absolute;
    right: 1rem;
    width: 50px;
  }
}

.code-pun {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 40%;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    pre > {
      box-shadow: 1px 2px 8px #000000;
    }
  }
  transition: 0.4s all ease;
  // span {
  //   font-size: 20rem;
  //   color: #36c7bb;
  // }
}

.images-paralex {
  max-width: 800px;
  @media all and (max-width: 768px) {
    display: none;
  }
}
