.page-container {
  max-width: 1344px;
  margin: 0 auto;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.blog-header {
  display: flex;
  justify-content: space-between;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
