.contact-form {
  button {
    float: right;
    width: 100%;
  }
}

.contact-form-container {
  margin-top: 2rem;
  width: 50%;
  @media all and (max-width: 768px) {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    margin-top: 1rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}
