.contact-form {
  button {
    float: right;
  }
}

.contact-form-container {
  width: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;
}
