.copyable-code-snippet-container {
  position: relative;
}

.copyable-code-snippet__success-tooltip {
  position: absolute;
  top: -25px;
  right: 20px;
  z-index: 3;
  background-color: white;
  border-radius: 4px;
  padding: 5px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.copyable-code-snippet {
  position: relative;
  button {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
  }
  &:hover {
    button {
      opacity: 1;
    }
  }
}
.copyable-code-snippet__code-type {
  background-color: #949494;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  right: 0;
  color: white;
  min-width: 50px;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}
