.header {
  padding: 1rem 0 1rem;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.link {
  color: #343434;
  &:hover {
    color: #36c7bb;
  }
}

.active-link {
  color: #36c7bb;
  @media all and (max-width: 768px) {
    color: white;
    &::before {
      content: "[ ";
      font-weight: 800;
    }
    &::after {
      content: " ]";
      font-weight: 800;
    }
  }
}
.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h1 {
    .title {
      font-size: 1.5rem;
      color: #36c7bb;
      font-family: "Fredoka One", cursive;
      font-weight: 300;
    }
  }
  ul {
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    li {
      list-style: none;
      margin-left: 2rem;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        font-family: "Darker Grotesque", sans-serif;
        font-size: 1.2rem;
      }
    }
  }
  .burger-menu {
    display: none;
  }

  @media all and (max-width: 768px) {
    ul {
      display: none;
    }
    .burger-menu {
      display: block;
      button {
        z-index: 3;
      }
    }
    ul {
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding: 40% 0;
      li {
        margin: 0;
      }
      a {
        font-size: 1.6rem !important;
        color: white !important;
      }
    }
    .full-screen {
      display: block;
      background-color: #36c7bb;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 2;
      display: flex;
    }
  }
}
