.header {
  padding: 1rem 0 1.5rem;
  max-width: 1344px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.link {
  color: #343434;
  &:hover {
    color: #36c7bb;
  }
}

.active-link {
  color: #36c7bb;
}
.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h1 {
    .title {
      font-size: 1.5rem;
      color: #36c7bb;
      font-family: "Fredoka One", cursive;
      font-weight: 300;
    }
  }
  ul {
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    li {
      list-style: none;
      margin-left: 2rem;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        font-family: "Darker Grotesque", sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}
