.container {
  margin: 0 auto;
  // max-width: 750px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='228' height='228' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.12' fill='%23ffee80' cx='45' cy='45' r='8'/%3E%3Cg fill='%2336c7bb' fill-opacity='0.12'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.content-container {
  flex-grow: 1;
}
