.custom-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  //   label {
  //     min-width: 200px;
  //   }
  textarea,
  input {
    flex: 1;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border: 0;
    border: 1px solid #c1c7c7;
    &:focus {
      border: 1px solid var(--primary-color);
    }
  }
}
